@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@400;700&display=swap');


* {
	padding:0;
	margin:0;
}

body {
	background: url("/img/background-pizza.png") no-repeat left top;
	background-size: 100%;
	background-color:#131313;
	color:#FFF; /*Alterar*/
	
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
/*Formatação do header*/

#cabecalho {
	height: 100px;
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: sticky;
	top:0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
#cabecalho img {
	width: 304px;
	height: 70px;
	margin-left: 50px;
}

#cabecalho ul {
	display: flex;
	flex-wrap: wrap;
}
#cabecalho ul li {
	margin:0px 40px;
}
#cabecalho a{
	text-transform: uppercase;
	letter-spacing: 1px;
	color:#FFF;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}
#cabecalho a:hover{
	text-shadow: 1px 1px 10px white;
	text-decoration:underline;
}
/*Formatação da seção home*/
#home {
	max-width: 90vw;
	height: 600px;
	margin: 0 auto;

	display: flex;
}
#home ul {
	margin-top: 130px;
}
#home li {
	padding: 20px;
	font-size: 3em;
	font-family: 'Lilita One', cursive;
	color:#fff;
}
#home li::before {
	content: "\00b0";
    color: #fbcb39;
    font-family: sans-serif;
    vertical-align: bottom;
    margin: 25px 10px 0 10px;
}

/*Formatação da seção sabores*/
#sabores {
	max-width: 90vw;
	margin: 150px auto 0px auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#sabores-info {
	text-align: center;
	color:#fff;
	border-radius: 99px;
	padding:20px;
	max-width: 400px;
	margin-top:110px;
}
#sabores-info h1{
	font-size: 2.75em;
	font-family: 'Lilita One', cursive;
}
#sabores-info h2 {
	font-size: 1.75em;
	font-family: 'Roboto', sans-serif;
}
#sabores img {
	margin-top: 30px;
	max-width: 100%;
}
#tabela-sabores {
	width: 100%;
    background-color: #2a2a2a;
    clear: both;
    border-collapse: collapse;
    text-transform: uppercase;
    margin-top: 50px;

	font-family: 'Roboto', sans-serif;
	text-align: center;
}
#tabela-sabores th {
	font-size: 1.45em;
	color:#000;
	border:2px solid black;
	height: 50px;
	padding: 10px;
}
#tabela-sabores td {
	font-size:0.75em;
	border:2px solid black;
	height: 50px;
	padding:10px;
}

.text-positivo {
	color:green;
}
.text-negativo {
	color:#FF3333;
}

/*Formatação da seção Contato*/

#contato {
	max-width: 90vw;
	margin: 0px auto;
}
#contato h1 {
	border-radius: 99px;
	padding:100px 0px 0px 20px;
	font-size: 2.75em;
	text-align: center;
	font-family: 'Lilita One', cursive;
}
#contato div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 70%;

	font-family: 'Lilita One', cursive;
	font-size: 1.75em;
}

#formulario-contato input, textarea {
	font-size: 0.75em;
	color:#fff;
	font-family: 'Lilita One', cursive;
	border: 1px solid black;
	border-radius: 30px;
	padding: 10px;
	background-color: transparent;
	outline:0;
	box-shadow: none;
	resize: none;
}

#formulario-contato .button {
	margin-top: 30px;
	max-width: 300px;
}
.button:hover {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
}

/*Formatação da seção Footer*/

#rodape {
	background: rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 150px;
	margin-top: 20px;
}
#rodape img {
	width: 304px;
	height: 70px;
}